# Core
TOKEN=
GUILD_ID=
DEBUG_MODE=false
WEB_HOST=0.0.0.0
WEB_PORT=5000
PORT=
DATABASE_URL=

# Banner
BANNER_ENABLED=true
BANNER_DEPLOY_MODE=true
BANNER_DEBUG_MODE=false
BANNER_UPDATE_INTERVAL_SECONDS=60
BANNER_LOG_CHANNEL_ID=
BANNER_DEBUG_CHANNEL_ID=
BANNER_BACKGROUND_PATH=
BANNER_FONT_PATH=

# Welcome
WELCOME_CHANNEL_ID=
WELCOME_BACKGROUND_PATH=
WELCOME_FONT_PATH=

# Logs
LOG_CHANNEL_ID=
LOG_MEMBERS_CHANNEL_ID=
LOG_ROLES_CHANNEL_ID=
LOG_CHANNELS_CHANNEL_ID=
LOG_VOICE_CHANNEL_ID=
LOG_MESSAGES_CHANNEL_ID=
LOG_MODERATION_CHANNEL_ID=
LOG_MISC_CHANNEL_ID=

# Verify
VERIFY_ROLE_UNVERIFY=
VERIFY_ROLE_FEMALE=
VERIFY_ROLE_MALE=
VERIFY_ROLE_NO_ACCESS=
VERIFY_PASSING_CHANNELS=
VERIFY_VERIFIER_ROLES=
VERIFY_REVIEW_LOG_CHANNEL=
VERIFY_STAFF_GUILD=
VERIFY_LOG_CHANNEL=
VERIFY_DAILY_REPORT_CHANNEL=
VERIFY_REVIEW_IMAGE=

# Staff
STAFF_APPLICATION_CHANNEL_ID=
STAFF_SUPPORT_APPLICATION_CHANNEL_ID=
STAFF_MODERATOR_APPLICATION_CHANNEL_ID=
STAFF_EVENTMOD_APPLICATION_CHANNEL_ID=
STAFF_CLOSEMOD_APPLICATION_CHANNEL_ID=
STAFF_TRIBUNEMOD_APPLICATION_CHANNEL_ID=
STAFF_CONTENTMAKER_APPLICATION_CHANNEL_ID=
STAFF_HELPER_APPLICATION_CHANNEL_ID=
SUPPORT_ROLE_ID=
MODERATOR_ROLE_ID=
EVENTMOD_ROLE_ID=
CLOSEMOD_ROLE_ID=
TRIBUNEMOD_ROLE_ID=
CONTENTMAKER_ROLE_ID=
HELPER_ROLE_ID=

# Render / Flask
FLASK_SECRET_KEY=
BOT_INTERNAL_PORT=8080
MESSAGE_BUILDER_TOKEN=
